[DEFAULT]
SocketConnectHost=192.168.1.50
SocketConnectPort=9180
ReconnectInterval=5
HeartBtInt=30
SenderCompID=CFTACT01
ResetOnLogon=N
PersistMessages=N
LogoutTimeout=30
FileLogPath=tmp
FileStorePath=data
ValidateFieldsOutOfOrder=N
ValidateFieldsHaveValues=N
ValidateUserDefinedFields=N
UseDataDictionary=Y
DataDictionary=FIX42.xml
[SESSION]
BeginString=FIX.4.2
TargetCompID=CFT
ResetOnLogon=N
PersistMessages=N
LogoutTimeout=30
#CFT AccountCode
AccountCode=CFTACT01
#Authenticatio
UserName=CFTACT01
Password=QWER1234